<%- include ('partials/header') %>
<div class="ui container">
    <div class="ui huge header">
        <h1>Edit post: <%= blog.data().title %></h1>
    </div>
    <div class="ui form">
        <form method="POST" action="/blogs/<%= blog.id %>?_method=PUT">
        <div class="field">
          <label>Title</label>
          <input type="text" placeholder="title" name="blog[title]" value="<%= blog.data().title %>" required>
        </div>
        <div class="field">
          <label>Image</label>
          <input type="text" placeholder="Image's url" name="blog[image]" value="<%= blog.data().image %>" required>
        </div>
        <div class="field">
          <label>Blog's body</label>
          <textarea rows="4" placeholder="Type the content here" name="blog[body]" required><%= blog.data().body %></textarea>
        </div>
        <div class="field">
        <input class="ui inverted purple button" type="submit" value="Edit">
    </form>
      </div>
    </div>
</div>
<%- include ('partials/footer') %>